# .dotfiles repo alias
alias dot='/usr/bin/git --git-dir=$HOME/.dotfiles --work-tree=$HOME'

# For good clipboard support, we want to use vimx if possible.
if [ -e /usr/bin/vimx ]; then alias vim='/usr/bin/vimx'; fi
if [ -e /usr/bin/nvim ]; then alias vim='/usr/bin/nvim'; fi
# General Git aliases
alias gs='git status '
alias ga='git add '
alias gb='git branch '
alias gc='git commit '
alias gd='git diff '
alias go='git checkout '

alias got='git '
alias get='git '

alias gcam='git commit -am '

# Convenience
alias cls='printf "\033c"'

alias ll='ls -Alhv'
alias drill='~/apps/apache-drill-1.12.0/bin/drill-embedded'
alias decompress='python3 ~/Repos/y_ad_experiments/scripts/coordinator.py'
alias insert='python3 ~/Repos/y_ad_experiments/scripts/convert_delimited_to_csv.py'

alias done='notify-send -t 0 "Shell Script Completed"'
alias -g ~~='/run/media/cyzhang/extra_disk/'
alias -g ~~~='~/Repos/y_ad_experiments/scripts'
